body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: gray;
}

.color-counter {
  z-index: 99;
}

.bucket {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  background-color: rgb(139, 139, 139);
  position: relative;
  border-radius: 0 0 40px 40px;
  overflow: hidden;
}

.bucket-color {
  position: absolute;
  left: -50%;
  bottom: -1%;
  z-index: 99;
  width: 200%;
}

/* Add animation class */
.bucket-color.swell-animation {
  animation: swell 1.5s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
}

@keyframes swell {
  0%, 100% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
}

.colors-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.color-button {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  cursor: pointer;
  margin: 0 11px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-bucket {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 98;
  height: 100%;
  width: 100%;
}

.red-bucket {
  background-color: red;
}

.green-bucket {
  background-color: #00ff00;
}

.blue-bucket {
  background-color: blue;
}

.colors-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.color-bar {
  position: relative;
  width: 10px;
  height: 300px;
  opacity: 0;
  z-index: 90;
  margin: 0 33px -198px;
}

.red-bar {
  background-color: red;
}

.green-bar {
  background-color: #00ff00;
}

.blue-bar {
  background-color: blue;
}
